$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import url(http://fonts.googleapis.com/css?family=Gudea:400,700);

@import 'sass-bootstrap/lib/bootstrap';

* {

}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Gudea', sans-serif;
    height:100%;
    min-height:100%;
}

.centered {

}

.call-to-action {
    text-align: center;
    padding: 1em 0;
    .btn-warning {
        background-color: #f26522;
    }
    margin: 3em 0;
}

h1, h2, h3, h4, h5, p, .btn {
    text-shadow: 0.1em 0.1em 0.2em black;
}
.about, .team {
    h1, h2, h3, h4, h5, p, .btn {
        text-shadow: 0.1em 0.1em 0.2em grey;
    }
}

.solutions *, .footer.inverted *{
    text-shadow: none;
}


/* Space out content a bit */
body {
    background-color: #63a5e8;
    // background-image: url('../images/background-full.jpg');
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.wrap {
    height: 100%;
}

.background-image {
    height: 100%;
    background-image: url('../images/2048x1536.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

.btn {
    border-radius: 0.2em;
}

.btn-default {
    color: white;
    background-color: #257fda;
    border: 1px solid #1d68b4;
}
.btn-default:hover {
    background-color: #216fbd;
    color: white !important;
    border: 1px solid #1d68b4;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.center-block,
.footer {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}

/* Custom page header */
.header {
    font-size: 1em;
    a {
        color: white;
    }
    a:hover {
        color: #257fda;
    }
    li {
        padding: 0 1em;
    }
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

.logo {
    width: 140px;
    height: 65px;
}
.logo.big {
    width: 350px;
    height: 163px;
}

.small-logo-header {
    text-align: center;
    margin-top: 4em;
    margin-bottom: 3em;
}

.center-block {
    margin-top: 5em;
    p {
        font-size: 1.2em;
    }

}

.about, .team:not(.call-to-action), .project {
    text-align: justify;
}

div.container.about {
    min-height: 60%;
    .small-logo-header {
        margin-top: 2em;
    }
}

.solutions {
    background-color: white;
    color: #324863;
    padding-bottom: 3em;
    .glyphicon {
        font-size: 3em;
    }
    h1 {
        font-size: 2em;
        padding: 1em 0 2em 0;
    }
    h2 {
        font-size: 1.5em;
    }
    p {
        color: #516986;
        text-align: justify;
        padding: 1em 0;
    }
    .btn {
        margin: 1em 0 2em 0;
    }
}

.solutions .col-lg-6, .solutions h1 {
    text-align: center;
}

.center-block p.payoff {
    text-shadow: 0.1em 0.1em 0.2em black;
    margin: 2em 0;
    font-size: 1.35em;
}

.form-inline.center-block {
    margin: 1em 0 2em 0;
}

.team.profiles{
    text-align: center;
    p {
        font-size: 0.9em;
    }
}
.team.profiles div {
    margin: 2em 0;
}

.team img.member {
    border: 0.5em solid white;
    border-radius: 100%;
    width: 65%;
}

.team.call-to-action {
    font-size: 1.35em;
}
.team.call-to-action .btn {
    margin: 2em 0;
}


/* Custom page footer */
.footer {
    // min-height: 2em;
    height: 40px;
    font-size: 0.75em;
    a {
        color: white;
    }
    a:hover {
        color: #257fda;
    }
}

.footer.inverted {
    color: #516986;;
    background-color: white;
}

.container-narrow > hr {
    margin: 30px 0;
}
.nav-justified > li, .nav-tabs.nav-justified > li {
    width: auto;
}
.navbar-nav.nav-justified > li{
    float:none;
}

.navbar-toggle {
    border-color: white;
    .icon-bar {
        background-color: white;
    }
}

@media screen and (max-width: 480px) {
    .background-image {
        background-image: url('../images/480x800.jpg');
    }
    .logo.big {
        width: 230px;
        height: 107px;
    }
}

@media screen and (max-width: 1024px) {
    .background-image {
        background-image: url('../images/1024x768.jpg');
    }
}
@media screen and (max-width: 1280px) {
    .background-image {
        background-image: url('../images/1280x800.jpg');
    }
}
@media screen and (max-width: 767px) {
    .navbar-collapse {
        background-color: #257fda;
        margin-bottom: 1em;
    }
    .center-block {
        margin-top: 0em;
        p {
            font-size: 1.2em;
        }
    }
    .small-logo-header {
        margin-top: 0;
    }
    .header {
        margin-top: 0;
    }
    .navbar {
        margin-bottom: 0;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    ul.navbar-nav {
        float: none;
        display:inline-block;
    }
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
