<div class="background-image">
	<headerdirective></headerdirective>
	<div class="center-block">
		<img class="logo big" src="images/one-by-one-logo.png" alt="One by One">
		<p class="payoff">We create the first database of <strong>global issues.</strong>
			<br>
			To solve them OneByOne.
		</p>
	</div>

	<div class="">
		<form role="form" class="form-inline center-block">
	<!-- 		<div class="form-group">
				<input type="email" class="form-control" placeholder="your email address">
			</div> -->
			<a href="#project" type="submit" class="btn btn-default btn-lg" analytics-on analytics-event="Homepage - Learn more">Learn more</a>
		</form>
	</div>
	<footerdirective></footerdirective>
</div>