<div class="header">
	<nav class="navbar" role="navigation">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	  </div>

	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    <ul class="nav navbar-nav">
	      <li><a href="#" analytics-on analytics-event="Header - Home" analytics-category="Header" analytics-label="Home">Home</a></li>
		  <li><a href="#project" analytics-on analytics-event="Header - Project" analytics-category="Header" analytics-label="Project">Project</a></li>
		  <li><a href="#team" analytics-on analytics-event="Header - Team" analytics-category="Header" analytics-label="Team">Team</a></li>
		  <li><a href="mailto:yann@onebyoneproject.com" analytics-on analytics-event="Header - Contact" analytics-category="Header" analytics-label="Contact">Contact</a></li>
	    </ul>
	  </div><!-- /.navbar-collapse -->
	</nav>
</div>

