<headerdirective></headerdirective>
<div class="small-logo-header">
	<a href="/">
		<img class="logo" src="images/one-by-one-small-logo.png" alt="One by One">
	</a>
</div>

<div class="container row about">
	<p>
		We are facing important crisis worldwide. Poverty, natural disasters, endangered species, depletion of natural resources, deforestation, ocean pollution, extinction of tribes...and we can keep on listing. We are all observers but information are spread out and vague. Thus we can’t act properly and contribute in solving what we caused.
	</p>
	<p>
		We are building a database of global issues to better understand them, break them down into challenges to solve and make it accessible to a larger audience. It’s time to make things happen all together!
	</p>
	<p class="call-to-action"><a class="btn btn-default" href="http://www.slideshare.net/YannSander/one-by-one-28569829" target="_blank">Learn more</a></p>
</div>
</div>