<headerdirective></headerdirective>
<div class="container about" analytics-on="scrollby" analytics-event="Project - Scroll on the project">
	<div class="small-logo-header">
		<a href="/">
			<img class="logo" src="images/one-by-one-small-logo.png" alt="One by One">
		</a>
	</div>
	<p>
		We are facing important crisis worldwide. Poverty, natural disasters, endangered species, depletion of natural resources, deforestation, ocean pollution, extinction of tribes...and we can keep on listing. We are all observers but informations are spread out and vague. Thus we can’t act properly and contribute in solving what we mainly caused.
	</p>
	<p>
		We are building a database of global issues to better understand them, break them down into challenges to solve and make it accessible to a larger audience. It’s time to make things happen all together!
	</p>
	<p>
		You have insights and ideas to co-create with us? We would love to hear what you think. Please add your thoughts below.
	</p>
	<p class="call-to-action"><a class="btn btn-default btn-lg" href="http://eepurl.com/JP-bX" target="_blank" analytics-on analytics-event="Project - Add your thoughts">Add your thoughts</a></p>
</div>
<div class="solutions" analytics-on="scrollby" analytics-event="Project - Scroll on solutions">
	<div class="container">
		<h1 class="">What are we working on?</h1>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<span class="glyphicon glyphicon-book"></span>
			<h2>Curated News</h2>
			<p>
			We provide a weekly dose of curated informations on global issues, organized by themes and regions. Our selection is data driven and comes from existing content. It’s the best way to keep informed on what is happening.
			</p>
			<a href="http://eepurl.com/J7lSX" target="_blank" class="btn btn-warning" analytics-on analytics-event="Project - I'm interested">I'm interested</a>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<span class="glyphicon glyphicon-list-alt"></span>
			<h2>Database</h2>
			<p>
			We list all global issues into one single database, in order to better understand them, break them down into solvable challenges. We are connecting NGOs, foundations, organizations and individuals to have a global impact.
			</p>
			<a href="http://slidesha.re/1iKVz84" target="_blank" class="btn btn-warning" analytics-on analytics-event="Project - Learn more">Learn more</a>
		</div>
	</div>
</div>
<div class="footer inverted">
  <p>OneByOne © 2013</p>
</div>