<headerdirective></headerdirective>
<div class="small-logo-header">
	<a href="/">
		<img class="logo" src="images/one-by-one-small-logo.png" alt="One by One">
	</a>
</div>

<div class="container team">
	<p>
		Internet has changed the way we communicate, share knowledge, access information and many more. It's a fantastic tool to connect to the world. Yet, it hasn't reached its full potential. We believe it will help us crowd solve the biggest issues we face.
	</p>
	<p>
		Our background is engineering, marketing, sales, computer science, fashion or jewelry. We are game changers. Entrepreneurs. We are driven by a passion to develop ideas and disrupt status quo. Social Entrepreneurship is our next idea.
	</p>
</div>
<div class="container team profiles">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" analytics-on analytics-event="Team - Yann" analytics-category="Team" analytics-label="Yann">
		<img class="member" src="images/team/yann.jpg">
		<h4>Yann Sander</h4>
		<p>
		Dreamer. Traveler. French.
		</p>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" analytics-on analytics-event="Team - Guillaume"  analytics-category="Team" analytics-label="Guillaume">
		<img class="member" src="images/team/guillaume.jpg">
		<h4>Guillaume Sander</h4>
		<p>
		Experimenter. Genius.
		</p>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" analytics-on analytics-event="Team - Andrea"  analytics-category="Team" analytics-label="Andrea">
		<img class="member" src="images/team/andrea.jpg">
		<h4>Andrea Benfatto</h4>
		<p>
		Creative. Happy. Lover.
		</p>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" analytics-on analytics-event="Team - Diana"  analytics-category="Team" analytics-label="Diana">
		<img class="member" src="images/team/diana.jpg">
		<h4>Diana Verdugo</h4>
		<p>
		Smiling. Trendy. Adventurer.
		</p>
	</div>
</div>
<div class="team call-to-action">
	<p>
		And YOU! All together we can change the world!
	</p>
	<a href="mailto:yann@onebyoneproject.com" class="btn btn-default btn-lg" analytics-on analytics-event="Team - Join the team"  analytics-category="Team" analytics-label="Join the team">Join the team</a>
</div>
<footerdirective></footerdirective>